/* ==== RESET & CƠ BẢN ==== */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel {
    z-index: 5;
}
