@model MovieTicketBookingManagementWeb.Models.Genre
<h2>Delete Genre</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ID" />
    <p>Are you sure you want to delete @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>