@model MovieTicketBookingManagementWeb.Models.Genre
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Genre";
}
<h2>Edit Genre</h2>
<form asp-action="Update" method="post" >
    
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
   
    
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>